body {
  background-color: lightgray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
  text-align: center;
  font-size: 25px;
}

.playground {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.interface {
  background-color: black;
  width: 550px;
  height: 150px;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  padding-bottom: 1rem;
  box-shadow: 8px 20px 10px 0 rgba(0, 0, 0, 0.2);
}

.frame {
  background-color: white;
  width: 500px;
  height: 500px;
  border-top: 25px solid black;
  border-left: 25px solid black;
  border-right: 25px solid black;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  box-shadow: 8px 20px 10px 0 rgba(0, 0, 0, 0.2);
}

.canvas {
  width: 500px;
  height: 500px;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

.options {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.optionschoice1 {
  padding-left: 1rem;
  justify-content: space-between;
}

.slider {
  -webkit-appearance: none;

  width: 80%;
 background: black;

}

.slider::-webkit-slider-runnable-track{
  background: grey;
  border-radius: 1rem;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  background: white;
  cursor: pointer;
}

.optionschoice2 {
  display: flex;
  justify-content: center;
}

.optionstitle {
  text-align: center;
  font-weight: bold;
}

.copyright {
  text-align: center;
}

button {
  border: 1px solid white;
  background-color: black;
  color: white;
  border-radius: 1rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
  margin: 1rem;
  cursor: pointer;
}

button:hover {
  color: black;
  background-color: white;
}
